/* PC,スマホ共通スタイル */
body {
  font-family:"Arial", "Meiryo", "sans-serif";
  text-align: center;
  font-size: 20px;
}

h1 {
  letter-spacing: 30px;
  text-shadow: 1px 2px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
  font-family: "Josefin Sans";
  font-size: 40px;

}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
.font {
  font-weight: bold;
}